.ResultsListItem {
  &__link {
    display: block;
    padding: 16px;
    background-color: white;

    @media (max-width: $breakpoint-xsmall) {
      padding: 12px;
      font-size: 14px;
    }

    &:hover,
    &:focus {
      background-color: $color-light-gray;
    }
  }
}
