// Colors
$color-black: #0a0909;
$color-blue: #0166dc;
$color-green: #50aa52;
$color-orange: #e8421f;
$color-gray: #7e8488;
$color-light-gray: #eef0f3;

// Form elements
$form-elements-height: 48px;
$form-elements-border-radius: 2px;
